{
  "printWidth": 110,
  "proseWrap": "preserve",
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "useTabs": false,
        "bracketSpacing": false,
        "explicitTypes": "never"
      }
    }
  ]
}